<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
      <div class="navbar-header">
          <span class="navbar-brand"> Ready to Play?   
          <button class="btn btn-default btn-sm" onclick="location.href='/game'"> <i class="fa fa-gamepad" aria-hidden="true"></i>
          Play the Game!
          </button> 
          </span>
      </div>
 
      <p class="navbar-text navbar-right">New York on Tech &copy; {{getCurrentYear}}</p>
  </div>
 </nav>
