  <nav class="navbar navbar-inverse">
    <div class="container" onload="loaded();">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed navbar-static-top" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Technically Late</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class={{aboutActive}}><a href="/about">The Team</a></li>
        	<li class={{gameInfoActive}}><a href="/gameInfo">Game Info</a></li>
        	<li class={{gameProcessActive}}><a href="/gameProcess"> Our Process</a></li>
        	<!--<li id="vision" class={{visionActive}}><a href="/vision"> The Vision</a></li>-->
        </ul>
        <!--
        <ul class="nav navbar-nav navbar-right"> HIDE SIGNUP AND LOGIN
          <li><a href="#">Signup <i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
          <li><a href="#">Login <i class="fa fa-user" aria-hidden="true"></i></a></li>
        </ul>-->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>