<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	{{> scripts}}
</head>
<body>

  {{> header}}

	<div class="container">
  <h3> Introducing Us! </h3>
		<div class="row">
      <div class="col-lg-3">
        <div id="content">
          <h3> Kevin Chiu</h3>
          <img src="/portraits/kevin.jpg" style="height: 200px; width: 200px; border-radius: 100%">
          <div style="padding: 24px;"></div>
          <p> 
            Hi there! I am a rising sophomore at the University of Washington in Seattle pursuing a degree in 
            engineering. I play the piano, dance, and am an avid social media user. I like dogs.
          </p>
        </div>
      </div>
      <div class="col-lg-3">
        <div id="content">
          <div style="padding: 24px;"></div>
          <img src="/portraits/raven.jpg" style="height: 200px; width: 200px; border-radius: 100%">
          <h3> Raven Conyers </h3>
          <p>As a student at CUNY Hunter College I learned that it is okay to change your plans. I intended to study Computer Science, but after my first year of college I decided that Computer Science wasn’t for me, so I have been preparing myself to transfer to CUNY Baruch College in order to explore the business aspects of Computer Information Systems.</p>
        </div>
      </div>
      <div class="col-lg-3">
        <div id="content">
          <div style="padding: 24px;"></div>
          <img src="/portraits/jeremy.png" style="height: 200px; width: 200px; border-radius: 100%;">
          <h3> Jeremy De La Cruz</h3>
          <p>
            Hi! I've had a passion for CS and all things software development since I was first introduced to it in my junior year of high school. Since then, I have not stopped working on side projects and trying to learn as much as I can. This fall, I will be transferring as a sophomore student to the Rochester Institute of Technology for my undergrad in computer science.
          </p>
        </div>
      </div>
      <div class="col-lg-3">
        <div id="content">
          <h3> Messiah Stith</h3>
          <img src="/portraits/messiah.jpg" style="height: 200px; width: 200px; border-radius: 100%">
          <div style="padding: 24px;"></div>
          <p>I'm an upcoming sophmore at CCNY that is working toward a degree in Information Systems and Technology while learning User Experience and Design on my free time. My main focus is to follow a career path in one of these subjects.</p>
        </div>
      </div>
		</div>
	</div>
  </div>

  {{> footer}}

</body>
</html>