<!DOCTYPE html>
<html>
<head>
	<title> Game Info</title>
	{{> scripts}}
</head>
<body>

{{> header}}

<div class="container">
<div class="row">
  <div class="col-xs-12 col-sm-6"> 
    <h3 class="toLeft"> What's It About? </h3>
    <p class="toLeft"> 
        It's 2017, and innovation is at its finest. Technology is exponentially growing; ten-thousand years of progress have been made only in the last century. However, the workforce that is making it happen has not been changing. 
    </p>
  </div>

  
  <div class="col-xs-12 col-sm-6">
    <h3 class="toRight"> The Statistics You Need To Know</h3>
    <p class="toRight">
    Donec volutpat aliquam leo vitae cursus. Mauris sapien lorem, gravida sed lacus vitae, consectetur sollicitudin augue. Phasellus congue nisi orci, sit amet laoreet urna facilisis eget. Morbi scelerisque velit quis mauris sollicitudin, mattis semper odio ultrices. Aliquam gravida massa in risus imperdiet ornare. Nullam mollis facilisis lorem, quis pulvinar elit. Nulla sagittis commodo enim, ac tincidunt orci venenatis vel. Ut est nunc, iaculis eget fermentum sed, auctor nec nisi. Nulla non neque sagittis libero porta volutpat. In non turpis odio. Donec magna velit, vehicula sed justo nec, ultricies finibus massa. Sed viverra nec sem at sodales. Nam vehicula lectus nisi, in consequat velit lobortis eget.
  </p>
  </div>

  <div class="clearfix visible-xs-block"></div>
</div>

{{> footer}}

</div>

</body>
</html>