<!DOCTYPE html>
<html>
<head>
	<title> Game Info</title>
	{{> scripts}}
</head>
<body>

{{> header}}

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6"> 
      <h2> Design </h2>
      
      <h4 class="toLeft"> Raven </h4>
        <hr class="leftLine">
        <p class="toLeft">In the beginning of this internship we decided that we wanted to work on our final project together with the intent of delivering a message to our players as the story progressed. As alumni of New York on Tech (NYOT), we thought it would be best to use a message that would be somewhat collaborate with what NYOT stands for. By creating a game to communicate our message it would help us reach a wider audience because being informed in a fun way is the best way to get people to retain important information.</p>
        <p class="toLeft">When creating the story behind the game it was important for us to create a main character that could be seen as relatable. Our main character is set to be a janitor just to show that it doesn’t really matter what background you have; you can do a lot if you’re determined. The robot, Lang Machine, represents coding and the tech world. The overall message… you’ll have to play the game to find out.</p>
        

        
      <h4 class="toLeft"> Messiah </h4>
        <hr class="leftLine">
        <p class="toLeft"> 
        The development of the map is what makes or breaks a game because without good map design there is not a good game. The placement of all the platforms became the most important piece to make an engaging experience for the player. The placements of the buttons and levers make you think while the game may get progressively harder while you make your way to your goal. I hope you enjoy platforming on a map created to entertain bring surprises to whoever plays!

        </p>
    </div>
    
    <div class="col-xs-12 col-sm-6"> 
      <h2> Development </h2>
      <h4 class="toRight"> Kevin </h4>
        <hr class="rightLine">
        <p class="toRight"> 
          I initially worked along with Jeremy to create the physics of the platformer, which included gravity, the player, platforms, and the interactions between various objects such as collisions. With experience with Java in college and some prior experience with the programming language,
          it was not too difficult for me to understand the concepts to get started and code in javaScript.
        </p>
        <p class="toRight">
          Once all of this was done, I turned my attention to making a platform for the game to be shared with, which ultimately became this website.
          Using Bootstrap and a little bit of jQuery, I designed a page where we could share our project and a little bit about ourselves. I took the pictures of the portraits and edited them to fit the style of the page and added a bit of jQuery to make the page responsive to specific window sizes.
        </p>
        

      <h4 class="toRight"> Jeremy </h4>
        <hr class="rightLine">
        <p class="toRight"> Nulla sed malesuada purus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean mattis posuere sem sed euismod. Fusce malesuada ac tellus a dignissim. Praesent sollicitudin gravida fringilla. Morbi lobortis tempor tempus. Integer consectetur eu quam quis tristique. Vestibulum dictum id metus eu molestie.</p>
    </div>
  </div>

  <div class="clearfix visible-xs-block"></div>
</div>

{{> footer}}


</body>
</html>
