<!DOCTYPE html>
<html>
<head>
	<title> Game Info</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="TheProject.css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Technically Late</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	<li class="active"><a href="/gameInfo"> Game Info
		</a></li>
      	<li class=""><a href="/about">About Us</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Signup <i class="fa fa-user-plus" aria-hidden="true"></i></a></li>
        <li><a href="#">Login <i class="fa fa-user" aria-hidden="true"></i></a></li>
      </ul>
      </div>
  </div>
</nav>

<div class="container">
<div class="row">
  <div class="col-xs-6 col-sm-4"> 
    <h3 style="text-align: left;"> What's It About? </h3>
    <span> 
        It's 2017, and innovation is at its finest. Technology is exponentially growing; ten-thousand years of progress have been made only in the last century. However, the workforce that is making it happen has not been changing. 
    </span>
  </div>

  <div class="col-xs-6 col-sm-4" style="text-align: center;"> 
    <h3> The Statistics You Need To Know</h3>
    <span>
    Donec volutpat aliquam leo vitae cursus. Mauris sapien lorem, gravida sed lacus vitae, consectetur sollicitudin augue. Phasellus congue nisi orci, sit amet laoreet urna facilisis eget. Morbi scelerisque velit quis mauris sollicitudin, mattis semper odio ultrices. Aliquam gravida massa in risus imperdiet ornare. Nullam mollis facilisis lorem, quis pulvinar elit. Nulla sagittis commodo enim, ac tincidunt orci venenatis vel. Ut est nunc, iaculis eget fermentum sed, auctor nec nisi. Nulla non neque sagittis libero porta volutpat. In non turpis odio. Donec magna velit, vehicula sed justo nec, ultricies finibus massa. Sed viverra nec sem at sodales. Nam vehicula lectus nisi, in consequat velit lobortis eget.
  </span>
  </div>

  <div class="col-xs-6 col-sm-4" style="text-align: right;"> 
    <h3 style="text-align: right;"> How We Made It </h3>
    <span>
    Praesent ut luctus erat, in placerat eros. Aenean rhoncus mi ante, at luctus lorem cursus eu. Sed sed diam dignissim, feugiat lectus vel, vehicula odio. Fusce ornare ante quam, non eleifend orci cursus ac. In sit amet varius dui, sed pharetra quam. In nibh ex, accumsan eu ultrices dapibus, consequat eu augue. Praesent lobortis varius metus id consequat. Duis arcu tortor, sodales in sagittis in, interdum ac tellus. Donec in quam mi. Nunc molestie egestas ligula ut finibus. Cras quam dui, commodo sit amet arcu sit amet, vestibulum interdum mi. Praesent sagittis bibendum odio, non fringilla nunc dictum sit amet. Nulla tempus varius risus, non porttitor diam fermentum eu.
    </span>
  </div>

  <div class="clearfix visible-xs-block"></div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand"> Ready to Play?   
            <button class="btn btn-default btn-sm" onclick="location.href='/game'"> <i class="fa fa-gamepad" aria-hidden="true"></i>
            Play the Game!
            </button> 
            </span>
        </div>

        <p class="navbar-text navbar-right">company &copy; 2017</p>
    </div>
</nav>

</div>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  	crossorigin="anonymous"></script>
  	
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>