<!DOCTYPE html>
<html>
<head>
	<title> The Vision</title>
	{{> scripts}}
</head>
<body style="padding-bottom: 1000px;">

{{> header}}

<div class="container fadeIn">
<div class="row">
  <div class="col-xs-3">
  </div>
  <div class="col-xs-6"> 
    <h2> The Vision</h2>
    <h5 class="moreTextSpacing"> 
      This project is still in a work in progress, but we wanted to provide you a glimpse of what 
      there is to come in the next upcoming weeks!
    </h5>


    <h3 class="toLeft visionContentDivider fadeIn"> Our Website </h3>
    <p> Although we believe our website provides a clear description of our intentions and all relevant
    information, it is too static to be appreciated. After having more practice with jQuery, Kevin would like to implement
    more subtle animations and add more interactions on this website to provide the user with an enjoyable experience.
    </p>
    <p>
      <img class="centered visionTextDivider" src="https://s-media-cache-ak0.pinimg.com/originals/3a/47/0e/3a470e3e8591ddbc4a6366b19435fd50.gif"></img>
    </p>
    
    
    
    
    <h3 class="toLeft visionContentDivider"> Our Game</h3>
    <p class ="toLeft moreTextSpacing">
      This is just a picture of what the ending of a level signifies. Once our main character runs into Lang Machine he will be blocked from continuing to further platforms. In order to get past Lang Machince he has to find the clue (the yellow diamond) and give it to Lang Machine.
    </p>
    

    <p>
      <img class="centered visionTallPic" src="/visionPictures/first.png"></img>
    </p>
      
    <p class="toLeft moreTextSpacing">
      Once he gives Lang Machine the clue, Lang Machine will read the clue out loud. There will be some clues that have words in it that need to be unscrambled such as this clue.The word highlighted in green shows the word that the user needs to unscramble. 
    </p>
    
    <p>
      <img class="centered visionTallPic" src="/visionPictures/second.png"></img>
    </p>
    
    <p class="toLeft moreTextSpacing">
      All the letters that the user needs to complete the word will appear. They will be able to arrange them in the green stars until they arrange them in the right way. 
    </p>
    
    <p>
      <img class="centered visionTallPic" src="/visionPictures/third.png"></img>
    </p>

    <p class="toLeft moreTextSpacing">
      After they have filled in the stars and they believe that they have the letters in the correct order they can click on the check mark in order to continue. If they are right Lang Machine will disappear so that they can pass. If not then Lang Machine will prompt them to try again. 
    </p>

    <p>
      <img class="centered visionTallPic" src="/visionPictures/fourth.png"></img>
    </p>
    
    <p class="toLeft moreTextSpacing">
      This represents the final level. Lang Machine will congratulate the user for reaching the end of the game and ask if the user understands why they went through this journey.     </p>
    
    <p>
      <img class="centered visionWidePic" src="/visionPictures/fifth.png"></img>
    </p>

    <p class="toLeft moreTextSpacing">
     At this point, you have all of the words to fill the crossword that Lang Machine provides you with in the end with a few highlighed letters that spells out what this was about all along.
    </p>

    <p>
      <img class="centered visionWidePic" src="/visionPictures/sixth.png"></img>
    </p>

    <p class="text-center moreTextSpacing">
      The final unscramble.
    </p>

    <p>
      <img class="centered visionWidePic" src="/visionPictures/seventh.png"></img>
    </p>
    
    <p class="text-center moreTextSpacing">
      <b>DIVERSITY</b>
    </p>

  </div>
  
  <div class="clearfix visible-xs-block"></div>
</div>

</div>
{{> footer}}

</body>
</html>