#content {
	text-align: center;
	padding-top: 5%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1); 
}

h2, h3, h4 {
	text-align: center;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1); 
				 
}

body {
	background: url("https://images.unsplash.com/photo-1494666460509-7a1bae5b84ad?dpr=2&auto=compress,format&fit=crop&w=767&h=511&q=80&cs=tinysrgb&crop=");
	/*small as possible while still covering the entire width/height of screen - stretches until fit*/
	background-size: cover;
	background-position: center;
	font-family: lato;
	color: white;
	font-family: Nunito;
}

html {
	height: 100%;
}

/*h1, h3 {
	color: white;
}
*/

h1 {
	/*aka bolded*/
	font-weight: 700px; 
	font-size: 5em;

	/*em is a font unit that functions as a multiplier of parent*/
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0,2);
}

.leftLine {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0,2);
	margin-left: 0px;
	margin-top: 0px;
}

.rightLine {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0,2);
	margin-right: 0px;
	margin-top: 0px;
}

/*div {
	border: 3px solid black;
}*/

.BiographyLine {
	width: 100px;
}

.btn-sm {
	margin-left: 30px;
	padding-bottom: 10px;
}

.navbar-fixed-bottom {
	padding-bottom: 10px;
}

.GameBackground {
	background: url("https://images.unsplash.com/photo-1469007348879-390c07d73c33?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=");
	/*small as possible while still covering the entire width/height of screen - stretches until fit*/
	background-size: cover;
	background-position: center;
	font-family: lato;
	color: white;
	font-family: Nunito;
}

#gameCamera {
	overflow: hidden;
	border: none;
    margin: auto;
    background-color: #70c4a9;
    border-radius: 5px;
    width: 800px; 
    height: 550px;
	box-shadow: inset 0px 00px 40px -40px rgba(255,255,255,0.9);
}

canvas {
	background-color: black;
}

.toLeft{
	text-align: left;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1); 
}

.toRight{
	text-align: right;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1); 
	width: 100%;
	height: 100%;
}